<script setup lang="ts">
import { reactive } from 'vue'

const state = reactive({ count: 0 })

function increment() {
	state.count++
}
</script>

<template>
	<div class="hello" @click="increment">
		Hello konrad {{ state.count }}
	</div>
</template>

<style scoped>
.hello {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	user-select: none;
}
</style>
